<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MyData Shield Demo">
    <meta name="author" content="gw0245">
    <title>MyData Shield Demo</title>

    <!-- Bootstrap core CSS -->
<link href="./css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      body {background-color: rgba(235, 233, 233, 0.726);}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <h1 style="position: relative; text-align: center; padding-bottom: 2%;"><b>MyData Shield</b></h1>
    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
  </head>
  <body class="py-4">
    
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function change(){
        var formData = $("#mydata").serialize();
        console.log(formData)
        
    $.ajax({
        cache:false,
        url : "http://ec2-52-79-81-239.ap-northeast-2.compute.amazonaws.com:8080/mydatashield/",
        type:'post',
        dataType: "json",
        data : formData,
        success: function(data){

            console.log("성공")
            console.log(data)

            console.log(data.length)
            var td = $("<table/>");
            
            var $account_name = data.account_name;
            var $account_num = data.account_num;
            var $trans_memo = data.trans_memo;
            var $card_num = data.card_num;
            var $address = data.address;
            var $telecom_num = data.telecom_num;
            var $car_number = data.car_number;


            $("#account_name").text($account_name),
            $("#account_num").text($account_num),
            $("#trans_memo").text($trans_memo),
            $("#card_num").text($card_num),
            $("#address").text($address),
            $("#telecom_num").text($telecom_num)
            $("#car_number").text($car_number)
            //alert(JSON.stringify(data));    
        },
        error : function(xhr, status) {
            console.log("실패")
            alert(xhr + " : " + status);
        }
    });
    }
</script>

<main>
  <div class="container">
  <form id="mydata" method="post">
        <div class="row mb-3">
          <div class="col-sm-4 themed-grid-col"><b>항목</b></div>
          <div class="col-sm-4 themed-grid-col"><b>입력</b></div>
          <div class="col-sm-4 themed-grid-col"><b>필드명</b></div>
        </div>

        <div class="row mb-3">
          <div class="col-4 themed-grid-col">            
            <label for="account_name">계좌명</label> 
          </div>
          <div class="col-4 themed-grid-col">
            <input type="text" name="account_name" style="width: 100%;">
          </div>
          <div class="col-4 themed-grid-col">account_name</div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-4 themed-grid-col">
            <label for="account_num">계좌 번호</label>
          </div>
          <div class="col-sm-4 themed-grid-col">
            <input type="text" name="account_num" style="width: 100%;">
          </div>
          <div class="col-sm-4 themed-grid-col">account_num</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4 themed-grid-col">
            <label for="trans_memo">거래 메모</label>
          </div>
          <div class="col-md-4 themed-grid-col">            
            <input type="text" name="trans_memo" style="width: 100%;">
          </div>
          <div class="col-md-4 themed-grid-col">trans_memo</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4 themed-grid-col">
            <label for="card_num">카드 번호</label>
          </div>
          <div class="col-md-4 themed-grid-col">            
            <input type="text" name="card_num" style="width: 100%;">
          </div>
          <div class="col-md-4 themed-grid-col">card_num</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4 themed-grid-col">
            <label for="address">주소</label>
          </div>
          <div class="col-md-4 themed-grid-col">            
            <input type="text" name="address" style="width: 100%;">
          </div>
          <div class="col-md-4 themed-grid-col">address</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4 themed-grid-col">
            <label for="telecom_num">휴대폰 번호</label>
          </div>
          <div class="col-md-4 themed-grid-col">            
            <input type="text" name="telecom_num" style="width: 100%;">
          </div>
          <div class="col-md-4 themed-grid-col">telecom_num</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4 themed-grid-col">
            <label for="car_number">차량 번호</label>
          </div>
          <div class="col-md-4 themed-grid-col">            
            <input type="text" name="car_number" style="width: 100%;">
          </div>
          <div class="col-md-4 themed-grid-col">car_number</div>
        </div>
        <input type="button" value="가명 처리" onclick="change();" style="position: relative;">
  </form>
  <br/>
  <h2 style="position: relative; text-align: center; padding-bottom: 2%;"><b>가명 처리 데이터</b></h2>
    <div class="row mb-3">
      <div class="col-sm-4 themed-grid-col"><b>항목</b></div>
      <div class="col-sm-4 themed-grid-col"><b>결과</b></div>
      <div class="col-sm-4 themed-grid-col"><b>필드명</b></div>
    </div>

    <div class="row mb-3">
      <div class="col-4 themed-grid-col">            
        <label for="account_name">계좌명</label> 
      </div>
      <div class="col-4 themed-grid-col">
        <p id="account_name"></p>
      </div>
      <div class="col-4 themed-grid-col">account_name</div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-4 themed-grid-col">
        <label for="account_num">계좌 번호</label>
      </div>
      <div class="col-sm-4 themed-grid-col">
        <p id="account_num"></p>
      </div>
      <div class="col-sm-4 themed-grid-col">account_num</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
        <label for="trans_memo">거래 메모</label>
      </div>
      <div class="col-md-4 themed-grid-col">            
       <p id="trans_memo"></p>
      </div>
      <div class="col-md-4 themed-grid-col">trans_memo</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
        <label for="card_num">카드 번호</label>
      </div>
      <div class="col-md-4 themed-grid-col">            
        <p id="card_num"></p>
      </div>
      <div class="col-md-4 themed-grid-col">card_num</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
        <label for="address">주소</label>
      </div>
      <div class="col-md-4 themed-grid-col">            
        <p id="address"></p>
      </div>
      <div class="col-md-4 themed-grid-col">address</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
        <label for="telecom_num">휴대폰 번호</label>
      </div>
      <div class="col-md-4 themed-grid-col">            
        <p id="telecom_num"></p>
      </div>
      <div class="col-md-4 themed-grid-col">telecom_num</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
        <label for="car_number">차량 번호</label>
      </div>
      <div class="col-md-4 themed-grid-col">            
        <p id="car_number"></p>
      </div>
      <div class="col-md-4 themed-grid-col">car_number</div>
    </div>

</div>
</main>
  </body>
</html>
