<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MyData Shield Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="author" content="gw0245">
    <title>MyData Shield Demo</title>

    <style>
         body {background-color: #ececec;}
        .subject{ font-size: 2.7rem; text-align: center; width : 100%; position: relative; padding-top : 1%; padding-bottom: 1%; }
        .container{float : left; background-color: #f5f5f5; border: solid 1px #ccc; width : 43%; height : 640px; margin: 0 0 1.5% 3.5% ; padding: 1% ; object-fit: contain}
        .div_h {width:33%; height: 9%; border-bottom:3px solid #333; float:left;}
        .div_p {overflow: auto; width:33%; height: 67px;; border-bottom:2px solid #ccc; float:left; text-align: center; word-break:break-all;   display: table-cell; vertical-align: middle;  }
        .div_p_b { width:33%; height: 67px; text-align: center; float:left; }

        .div_i { width:33%; height: 67px;; border-bottom:2px solid #ccc; float:left; text-align: center; line-height: 60px; }
        .font_i { position: relative; width:  100%; text-align: center; font-size: 24px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        .font_s { padding-top: 5px; text-overflow: clip; word-wrap: break-word; line-height: 95%; width:  99%; text-align: center; color : #333; font-size: 19px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        .font_r { padding-top: 5px; text-overflow: clip; word-wrap: break-word; line-height: 95%; width:  99%; text-align: center; color : #333; font-size: 19px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        .font_b { padding-top: 30px; text-overflow: clip; word-wrap: break-word; line-height: 95%; width:  99%; text-align: center; color : #333; font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

        .c_but {min-width: 102px; position: relative; left: 3.5%; top : 30%; width : 75%; height: 43px; background-color: red; border: 0;}
        
        .c_font{ position : relative; margin : 0 ;color: #fff; font-size: 25px;  font-family: NanumSquareB;  vertical-align: top; text-align:center; padding-bottom: 3px;}

        #ac_num{ padding-top: 5px; text-overflow: clip; word-wrap: break-word; line-height: 95%; width:  99%; text-align: center; color : #333; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        input {color : #333; width: 100%; height: 35px; z-index: 0; background-color:  rgb(233, 233, 233); font-size: 20px; margin-top: 6%; }
        
         @media (max-width: 1330px){
            
            .subject{ font-size: 2rem; text-align: center; width : 100%; position: relative; padding-top : 1%; padding-bottom: 1%; }
            .container{background-color: #f5f5f5; border: solid 1px #ccc; width : 93%; height : 550px; margin: 0 0 1.5% 3.5% ; padding: 1% ; object-fit: contain}
            .div_h {width:33%; height: 9%; border-bottom:3px solid #333; float:left;}
            .div_p { width:33%; height: 60px;; border-bottom:2px solid #ccc; float:left; text-align: center;  }
            .div_p_b { width:33%; height: 60px; text-align: center;  }
            .div_i { width:33%; height: 60px;; border-bottom:2px solid #ccc; float:left; text-align: center; line-height: 60px; }
            .font_i {position: relative; width:  100%; text-align: center; font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
            .font_s {position: relative; line-height: 90%; left : 1%; top: 35%; width:  99%;  margin : 0;  text-align: center; color : #333; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
            .font_r { overflow: hidden; padding-top: 5px; text-overflow: clip; word-wrap: break-word; line-height: 95%; width:  99%; text-align: center; color : #333; font-size: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

            .c_but {min-width: 102px; position: relative; left: 3.5%; top : 20%; width : 70%; height: 35px; background-color: red; border: 0;}
        
            .c_font{margin : 0 ;color: #fff; font-size: 18px;  font-family: NanumSquareB;}

            input {color : #333; width: 99%; height: 25px; z-index: 0; background-color:  rgb(233, 233, 233);  font-size: 16px; margin: 0; }
            
            body {background-color: #ececec;}

        }

    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        function changeSerialize( values, k, v ) {

            var found = false;

            for (i = 0; i < values.length && !found; i++) {

                if ( values[i].name == k ) { 

                    values[i].value = v;

                    found = true;

                }

            }

            if (!found) {

                values.push(

                    {

                        name: k,

                        value: v

                    }   

                );

            }

            return values;

            }
    </script>
    
    <script type="text/javascript">
        //Response_type의 value의 따라서 호출하는 API를 다르게 설정
        function Masking(){
            texthide()
            $('.font_r').css("font-size", "19px")
            var formData = $("#mydata").serializeArray();
            
            formData = changeSerialize(formData, 'Response_type', '0')
            console.log(formData)

            change(formData)


        }
        function encryption(){
            texthide()
            $('.font_r').css("font-size", "16px")
            var formData = $("#mydata").serializeArray();
            
            formData = changeSerialize(formData, 'Response_type', '1')
            console.log(formData)
            $(function(){
            });
            change(formData)

        }
        function faker(){
            texthide()
            $('.font_r').css("font-size", "19px")
            var formData = $("#mydata").serializeArray();
            
            formData = changeSerialize(formData, 'Response_type', '2')
            console.log(formData)
            change(formData)

        }
        function texthide(){
            $("#account_name").text('')
            $("#account_num").text('')
            $("#ac_num").text('')
            $("#trans_memo").text('')
            $("#card_num").text('')
            $("#address").text('')
            $("#telecom_num").text('')
            $("#car_number").text('')
        }

    </script>

    <script type="text/javascript">

        function change(formData){
            // http://ec2-52-79-81-239.ap-northeast-2.compute.amazonaws.com:8080/shieldapi/
            api_url = "https://mydapi.inzent.com/shieldapi/"

            $.ajax({
                cache:false,
                url : api_url,
                type:'post',
                dataType: "json",
                data : formData,
                success: function(data){
                    
                    console.log("성공");
                    console.log(data);
                    console.log(data.length);
                    
                    //var $id = data.id;
                    var $account_name = data.account_name;
                    var $account_num = data.account_num;
                    var $trans_memo = data.trans_memo;
                    var $card_num = data.card_num;
                    var $address = data.address;
                    var $telecom_num = data.telecom_num;
                    var $car_number = data.car_number;

                   
                    
                    let is_faker = false

                    // Faker 사용시만 해당
                    for (i = 0; i < formData.length; i++){

                        if (formData[i]['name'] == 'Response_type' && formData[i]['value'] == '2'){
                            is_faker = true 
                        }
                    }

                    if (is_faker == false) {

                            $("#account_name").text($account_name)
                            $("#account_num").text($account_num)
                            $("#trans_memo").text($trans_memo)
                            $("#card_num").text($card_num)
                            $("#address").text($address)
                            $("#telecom_num").text($telecom_num)
                            $("#car_number").text($car_number)

                    }
                    else {

                            $("#account_name").text($account_name)
                            $("#account_num").text($account_num)
                            $("#ac_num").text($account_num)
                            $("#trans_memo").text($trans_memo)
                            $("#card_num").text($card_num)
                            $("#address").text($address)
                            $("#telecom_num").text($telecom_num)
                            $("#car_number").text($car_number)
                    }


                },
                error : function(xhr, status) {
                    console.log("실패")
                    alert(xhr + " : " + status);
                }
            });
        }
    </script>

    <h1 class ="subject"><b>MyData Shield</b></h1>
    <div class="container">
        <form id="mydata" method="post">
            <input type="hidden" name="Response_type" value="1">
        <div>
        <div class="div_h">
           <p class="font_i"><b>항목</b></p>
            </div>
            <div class="div_h">
                <p class="font_i"><b>입력</b></p>
            </div>
            <div class="div_h">
                <p class="font_i"><b>항목명</b></p>
            </div>
        </div>
            
        <div>
            <div class="div_p">
               <p class="font_s">계좌명</p>
                </div>
                <div class="div_i">
                    <input type="text" name="account_name" value="홍길동">
                </div>
                <div class="div_p"">
                    <p class="font_s">account_name</p>
                </div>
        </div>

        <div>
            <div class="div_p">
                <p class="font_s">계좌 번호</p>
            </div>
            <div class="div_i">
                <input type="text" name="account_num" value="123-98-908172">
            </div>
            <div class="div_p">
                <p class="font_s">account_num</p>
            </div>
        </div>

        <div>
                <div class="div_p">
                    <p class="font_s">거래 메모</p>
                </div>
                <div class="div_i">
                    <input type="text" name="trans_memo" value="우체국 예금">
                </div>
                <div class="div_p">
                    <p class="font_s">trans_memo</p>
                </div>
        </div>

        <div>
            <div class="div_p">
                <p class="font_s">카드 번호</p>
            </div>
            <div class="div_i">
                <input type="text" name="card_num" value="4321-1234-4321-1234">
            </div>
            <div class="div_p">
                <p class="font_s">card_num</p>
            </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">주소</p>
        </div>
        <div class="div_i">
            <input type="text" name="address" value="서울 영등포구 국제금융로2길 36, 유화증권빌딩 8층, 9층">
        </div>
        <div class="div_p">
            <p class="font_s">address</p>
        </div>
</div>

<div>
    <div class="div_p">
        <p class="font_s">휴대폰 번호</p>
    </div>
    <div class="div_i">
        <input type="text" name="telecom_num" value="010-1234-1234">
    </div>
    <div class="div_p">
        <p class="font_s">telecom_num</p>
    </div>
</div>

<div>
    <div class="div_p">
        <p class="font_s">차량 번호</p>
    </div>
    <div class="div_i">
        <input type="text" name="car_number" value="09가 1234">
    </div>
    <div class="div_p">
        <p class="font_s">car_number</p>
    </div>
</div>
</form> 

<div class="div_p_b">
<button type="button" class="c_but" onclick="Masking();">
    <p class="c_font">
         Masking
    </p>
</button>

</div>
<div class="div_p_b">
    <button type="button" class="c_but" onclick="encryption();">
        <p class="c_font">
            Encryption
        </p>
    </button>
    
    </div>

    <div class="div_p_b">
        <button type="button" class="c_but" onclick="faker();">
            <p class="c_font">
                Faker
            </p>
        </button>
        
    </div>

</div>

<div class="container">
        
    <div>
    <div class="div_h">
        <p class="font_i"><b>항목</b></p>
            </div>
        <div class="div_h">
            <p class="font_i"><b>결과</b></p>
        </div>
        <div class="div_h">
            <p class="font_i"><b>항목명</b></p>
        </div>
    </div>
        
    <div>
        <div class="div_p">
           <p class="font_s">계좌명</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="account_name"></p></strong>
        </div>
        <div class="div_p">
                <p class="font_s">account_name</p>
        </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">계좌 번호</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="account_num" style="float: left;"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">account_num</p>
        </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">거래 메모</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="trans_memo"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">trans_memo</p>
        </div>  
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">카드 번호</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="card_num"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">card_num</p>
        </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">주소</p>
        </div>
        <div class="div_p">
            <strong><p class="font_s" id="address"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">address</p>
        </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">휴대폰 번호</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="telecom_num"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">telecom_num</p>
        </div>
    </div>

    <div>
        <div class="div_p">
            <p class="font_s">차량 번호</p>
        </div>
        <div class="div_p">
            <strong><p class="font_r" id="car_number"></p></strong>
        </div>
        <div class="div_p">
            <p class="font_s">car_number</p>
        </div>
    </div>  
</div>
<br>
    
</body>
</html>